
a{
  text-decoration-line: none !important;
  color: #0000008C!important;
}

.App
 {
  text-align: center;
  text-decoration-line: none ;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Link{
  text-decoration: none ;
}

.btn-primary.learnmore{
    color:#eeeeee !important;
    background:#f8f6f68c!important;
    border: 1px solid #f8f6f68c!important;
    border-radius: 20px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome{
  background-image: url(/src/dog.jpg);
  background-position:center;
  background-size: 100%;
  padding-top: 10px;
  height: 200px;
  width: auto;
  text-align: center;
  margin-bottom: 30px;
}
.welcome h2{
  padding-top: 30px;
}

.col-md-4{
  margin-top: 50px;
}
.btn-primary{
    color:#09addb!important;
    background:white!important;
    border: 1px solid #09addb!important;
    border-radius: 20px !important;
}
.btn-sale{
  color: aliceblue !important;
  background: #fe5356 !important;
  border: 1px solid #fe5356!important;
  border-radius: 0% !important;
}
.btn-best{
  color: aliceblue !important;
  background:#fee140!important;
  border: 1px solid #fee140!important;
  border-radius: 0% !important;
}

.front_price{
  text-decoration:line-through;
  margin-top: 5px;
}
.front_real_price{
  margin-bottom: 5px;
  margin-top: -10px;
}
.saleoff{
  color:#fee140!important;
  

}