$글자색:gray;
.b-f{
    display: block !important;
}
.back{
    text-align: start !important;
    margin-right: 320px !important;
}
.front{
    text-align:end !important;
    // margin-right: 100px !important;
}

.wow-enter{
opacity: 0;
}

.wow-enter-active{
    opacity: 1;
    transition: all 500ms;

}
.color{
    color:$글자색;
}

.btn-danger{
    height:40px;
    width: 100px;
    background:#ff5858!important;
    border: 1px solid #ff5858!important;
    border-radius: 0% !important;
    margin-right: 10px;
  }

  .btn-danger2{
    height:40px;
    width: 100px;
    color:white;
    background:#ff5858!important;
    border: 1px solid #ff5858!important;
    border-radius: 0% !important;
  }
@mixin 함수 {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;

}

.my-alert{
    @include 함수() 
        
}
.my-alert2{
    @extend .my-alert;
    background: #ffe591;
}

.my-alert p {
    margin-bottom: 0;
}

.sebu{
    width: 200px;
    height: 100px;
    margin: 50px;
    font-size: 20px;
    border: 1px solid ;
    color:white;
    background:#ff5858;
    border: 1px solid #ff5858;
    border-radius: 0% ;
    
}